@model Meghan_BugTracker.Models.Project
@using Meghan_BugTracker.Helpers

@{ ProjectsHelper projHelper = new ProjectsHelper(); }

<div class="px-content">
    <div class="page-header">
        <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-ios-keypad"></i>Project / </span>Details</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="table-primary">
                <div class="table-header">
                    <div class="table-caption">
                        @Model.Name Details
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Users</th>
                            <th>Tickets</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            @foreach (var user in projHelper.UsersOnProject(Model.Id))
                            {
                                <td>@user.FirstName <strong>@user.LastName</strong></td>
                            }
                            @foreach (var tix in Model.Tickets)
                            {
                                <td>@tix.Title</td>
                            }
                        </tr>
                    </tbody>
                </table>
                <div class="table-footer text-left">
                    <a href="@Url.Action("Edit", "Projects", new { id = Model.Id })" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
