@model Meghan_BugTracker.Models.Project

<div class="px-content">
    <div class="page-header">
        <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-android-checkbox-outline"></i>Project / </span>Edit</h1>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">Edit Project</div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            @Html.HiddenFor(model => model.Id)
            <fieldset class="form-group">
                <label for="form-group-input-1">Name</label>
                <input type="text" class="form-control" name="Name" id="form-group-input-1" value="@Model.Name">
            </fieldset>
            <fieldset class="form-group">
                <label for="form-group-input-2">Description</label>
                <input type="text" class="form-control" name="Description" id="form-group-input-2" rows="5" maxlength="1000" value="@Model.Description">
                <small class="text-muted">Maximum length is 1000 characters</small>
            </fieldset>
            <fieldset class="form-group text-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </fieldset>
        }
    </div>
</div>
