@model IEnumerable<Meghan_BugTracker.Models.Project>

<div class="px-content">
    <div class="page-header">
        <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-ios-keypad"></i>Projects</span></h1>
    </div>
    <div class="panel">
        <div class="panel-heading">
            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
            {
                <a href="@Url.Action("Create", "Projects")" class="panel-title"><i class="fa fa-book"></i> Create New</a>
            }
            else
            {
                <div class="panel-title">Projects</div>
            }
        </div>
        <div class="panel-body">
            <div class="table-primary">
                <table class="table table-striped table-bordered" id="projectTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var proj in Model)
                        {
                            <tr class="odd gradeX">
                                <td>@proj.Name</td>
                                <td>@proj.Description</td>
                                <td class="center">
                                    <div class="btn-group" style="margin-top: 4px;">
                                        <a href="@Url.Action("Details", "Projects", new { id = proj.Id })" class="btn btn-xs btn-primary btn-outline myIndexBtns" data-toggle="tooltip" title="Details"><i class="fa fa-list"></i></a>
                                        @if(User.IsInRole("Admin"))
                                        {
                                            <a href="@Url.Action("ProjectTickets", "Tickets", new { projectId = proj.Id })" class="btn btn-xs btn-primary btn-outline myIndexBtns" data-toggle="tooltip" title="Tickets"><i class="fa fa-ticket"></i></a>
                                        }
                                        @if(User.IsInRole("Project Manager"))
                                        {
                                            <a href="@Url.Action("PMProjectTickets", "Tickets", new { projectId = proj.Id })" class="btn btn-xs btn-primary btn-outline myIndexBtns" data-toggle="tooltip" title="Tickets"><i class="fa fa-ticket"></i></a>
                                        }
                                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                        {
                                            <a href="@Url.Action("Edit", "Projects", new { id = proj.Id })" class="btn btn-xs btn-primary btn-outline myIndexBtns" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a>
                                            <a href="@Url.Action("Delete", "Projects", new { id = proj.Id })" class="btn btn-xs btn-primary btn-outline myIndexBtns" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
                                        }

                                        @if (User.IsInRole("Developer"))
                                        {
                                            <a href="@Url.Action("DevProjectTickets", "Tickets", new { projectId = proj.Id })" class="btn btn-xs btn-primary btn-outline myIndexBtns" data-toggle="tooltip" title="Tickets"><i class="fa fa-ticket"></i></a>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $('#projectTable').DataTable();
    </script>
}
