@model Meghan_BugTracker.Models.TicketComment

<div class="px-content">
    <div class="page-header">
        <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-android-checkbox-outline"></i>Comment / </span>Edit</h1>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">Edit Comment</div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.Created)
            @Html.HiddenFor(model => model.TicketId)
            <fieldset class="form-group">
                <label for="form-group-input-1">New Comment</label>
                <input type="text" class="form-control" name="Title" id="form-group-input-1" rows="5" maxlength="1000" value="@Model.Comment">
                <small class="text-muted">Maximum length is 1000 characters</small>
            </fieldset>
            <fieldset class="form-group text-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </fieldset>
        }
    </div>
</div>
