@model Meghan_BugTracker.Models.TicketAttachment

<div class="px-content">
    <div class="page-header">
        <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-android-checkbox-outline"></i>Attachment / </span>Edit</h1>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">Edit Attachment</div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Created)
            @Html.HiddenFor(model => model.TicketId)
            <fieldset class="form-group">
                <label type="button" class="btn btn-primary">
                    Add Attachment
                    <input type="file" name="FileUrl" id="MKCfile" class="form-control" value="@Model.FileUrl" style="display: none;">
                </label>
                <div id="file-selected" class="m-t-2 text-muted font-size-12"></div>
            </fieldset>
            <fieldset class="form-group">
                <label for="form-group-input-2">Description</label>
                <input type="text" class="form-control" name="Description" id="form-group-input-2" rows="5" maxlength="1000" value="@Model.Description">
                <small class="text-muted">Maximum length is 1000 characters</small>
            </fieldset>
            <fieldset class="form-group text-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </fieldset>
        }
    </div>
</div>

@section scripts
{
    <script>
        $('#MKCfile').bind('change', function () {
            var path = $(this).val(); //gets value of file
            var fileName = path.replace(/^.*\\/, ''); //removes "fakepath" in Chrome
            $('#file-selected').html(fileName);
        })
    </script>
}
