@using Meghan_BugTracker.Helpers
@using Microsoft.AspNet.Identity
@model Meghan_BugTracker.ViewModels.CommentVM

<div class="px-content">
    <div class="page-header">
        <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-ios-keypad"></i></span>@Model.Ticket.Title</h1>
    </div>

    <div class="row">
        <!--DETAILS-->
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <a href="@Url.Action("Index", "Home")" class="panel-title"><i class="fa fa-arrow-circle-left"></i> Home</a>
                </div>
                <div class="widget-notifications-item">
                    <div class="widget-notifications-title text-danger">CREATED BY</div>
                    <div class="widget-notifications-description">@Model.Ticket.OwnerUser.FirstName <strong>@Model.Ticket.OwnerUser.LastName</strong></div>
                    <div class="widget-notifications-date">On @Model.Ticket.Created.ToShortDateString()</div>
                </div>
                <div class="widget-notifications-item">
                    <div class="widget-notifications-title text-info">ASSIGNED TO</div>
                    @if (Model.Ticket.AssignedToUser != null)
                    {
                        <div class="widget-notifications-description">@Model.Ticket.AssignedToUser.FirstName <strong>@Model.Ticket.AssignedToUser.LastName</strong></div>
                    }
                    else
                    {
                        <div class="widget-notifications-description">No assigned users</div>
                    }
                </div>
                <div class="widget-notifications-item">
                    <div class="widget-notifications-title text-default">DESCRIPTION</div>
                    <div class="widget-notifications-description">@Model.Ticket.Description</div>
                </div>
                <div class="widget-notifications-item">
                    <div class="widget-notifications-title text-success">PRIORITY, STATUS, TYPE</div>
                    <div class="widget-notifications-description">@Model.Ticket.TicketPriority.Name, @Model.Ticket.TicketStatus.Name, @Model.Ticket.TicketType.Name</div>
                </div>
                <div class="widget-notifications-item">
                    <div class="widget-notifications-title text-warning"># OF ATTACHMENTS</div>
                    <div class="widget-notifications-description">
                        <a href="@Url.Action("TicketAttachmentIndex", "TicketAttachments", new { ticketId = Model.Ticket.Id })">@Model.Ticket.TicketAttachments.Count</a>
                    </div>
                </div>
                <div class="widget-notifications-item">
                    <div class="widget-notifications-title text-info"># OF COMMENTS</div>
                    <div class="widget-notifications-description">
                        <a href="@Url.Action("TicketCommentIndex", "TicketComments", new { ticketId = Model.Ticket.Id })">@Model.Ticket.TicketComments.Count</a>
                    </div>
                </div>

                <div class="widget-notifications-item">
                    <div class="widget-notifications-title text-danger"># OF CHANGES</div>
                    <div class="widget-notifications-description">
                        <a href="@Url.Action("TicketHistoryIndex", "TicketHistories", new { ticketId = Model.Ticket.Id })">@Model.Ticket.TicketHistories.Count</a>
                    </div>
                </div>
                <a href="@Url.Action("Edit", "Tickets", new { id = Model.Ticket.Id })" class="widget-more-link">EDIT TICKET</a>
            </div>
        </div>
        <!--/DETAILS-->
        <!--COMMENTS-->
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Comments</span>
                </div>
                @foreach (var comment in Model.Ticket.TicketComments)
                {
                    <div class="widget-comments-item">
                        <img src="~/assets/demo/avatars/5.jpg" alt="" class="widget-comments-avatar">
                        <div class="widget-comments-header">
                            <a title="">@comment.User.FirstName @comment.User.LastName</a> commented on <a href="#" title="">@Model.Ticket.Title</a>
                        </div>
                        <div class="widget-comments-text">
                            @comment.Comment
                        </div>
                        <div class="widget-comments-footer">
                            @comment.Created.ToShortDateString()
                            <div class="pull-right">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div><!--END ROW-->
    @if (User.IsInRole("Admin"))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title"><i class="fa fa-comment"></i> Leave Comment</div>
                    </div>
                    @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("TicketId", Model.Ticket.Id)
                        <textarea rows="3" name="Comment" class="form-control widget-tree-comments-input" placeholder="Write your comment..."></textarea>
                        <button type="submit" class="btn btn-primary btn-sm">Post</button>
                    }
                </div>
            </div>
        </div>
    }

    @if (User.IsInRole("Project Manager"))
    {
        TicketsHelper tixHelper = new TicketsHelper();
        if (tixHelper.IsTicketOnPMProject(Model.Ticket.Id) == true)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title"><i class="fa fa-comment"></i> Leave Comment</div>
                        </div>
                        @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("TicketId", Model.Ticket.Id)
                            <textarea rows="3" name="Comment" class="form-control widget-tree-comments-input" placeholder="Write your comment..."></textarea>
                            <button type="submit" class="btn btn-primary btn-sm">Post</button>
                        }
                    </div>
                </div>
            </div>
        }
    }

    @if (User.IsInRole("Developer"))
    {
        if (TicketsHelper.IsUserOnTicket(User.Identity.GetUserId(), Model.Ticket.Id))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title"><i class="fa fa-comment"></i> Leave Comment</div>
                        </div>
                        @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("TicketId", Model.Ticket.Id)
                            <textarea rows="3" name="Comment" class="form-control widget-tree-comments-input" placeholder="Write your comment..."></textarea>
                            <button type="submit" class="btn btn-primary btn-sm">Post</button>
                        }
                    </div>
                </div>
            </div>
        }
    }

    @if (User.IsInRole("Submitter"))
    {
        if (TicketsHelper.DoesUserOwnTicket(User.Identity.GetUserId(), Model.Ticket.Id))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title"><i class="fa fa-comment"></i> Leave Comment</div>
                        </div>
                        @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("TicketId", Model.Ticket.Id)
                            <textarea rows="3" name="Comment" class="form-control widget-tree-comments-input" placeholder="Write your comment..."></textarea>
                            <button type="submit" class="btn btn-primary btn-sm">Post</button>
                        }
                    </div>
                </div>
            </div>
        }
    }

</div><!--END PX-CONTENT-->


@*@{ TicketsHelper tixHelper = new TicketsHelper }
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Comment", "Create", "TicketComments", new { id = Model.Id }, null) @:|
        @Html.ActionLink("Attach", "Create", "TicketAttachments", new { id = Model.Id }, null) @:|
    }

    @if (User.IsInRole("Project Manager"))
    {
        if (tixHelper.IsTicketOnPMProject(Model.Id))
        {
            @Html.ActionLink("Comment", "Create", "TicketComments", new { id = Model.Id }, null) @:|
            @Html.ActionLink("Attach", "Create", "TicketAttachments", new { id = Model.Id }, null) @:|
        }
    }

    @if (User.IsInRole("Developer"))
    {
        if (TicketsHelper.IsUserOnTicket(User.Identity.GetUserId(), Model.Id))
        {
            @Html.ActionLink("Comment", "Create", "TicketComments", new { id = Model.Id }, null) @:|
            @Html.ActionLink("Attach", "Create", "TicketAttachments", new { id = Model.Id }, null) @:|
        }
    }

    @if (User.IsInRole("Submitter"))
    {
        if (TicketsHelper.DoesUserOwnTicket(User.Identity.GetUserId(), Model.Id))
        {
            @Html.ActionLink("Comment", "Create", "TicketComments", new { id = Model.Id }, null) @:|
            @Html.ActionLink("Attach", "Create", "TicketAttachments", new { id = Model.Id }, null) @:|
        }
    }

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("All Tickets", "Index", "Tickets")
</p>*@
