@model Meghan_BugTracker.ViewModels.DashboardVM
@using Microsoft.AspNet.Identity
@using Meghan_BugTracker.Helpers

@if (User.Identity.IsAuthenticated)
{
    <div class="page-header">
        <div class="row">
            <div class="col-md-4 text-xs-center text-md-left text-nowrap">
                <h1><i class="page-header-icon ion-ios-pulse-strong"></i>Dashboard</h1>
            </div>
            <hr class="page-wide-block visible-xs visible-sm">
            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
            {
                <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right">
                    <a href="@Url.Action("Create", "Projects")" class="btn btn-primary btn-block"><span class="btn-label-icon left ion-plus-round"></span>Create project</a>
                </div>
            }
            <!-- Spacer -->
            <div class="m-b-2 visible-xs visible-sm clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- Tickets -->
            <div class="panel panel-success panel-dark">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-bullhorn"></i>Tickets</span>
                    <div class="panel-heading-controls">
                        <div class="panel-heading-text">
                            <a href="@Url.Action("MyTickets", "Tickets")">Ticket Status</a>
                        </div>
                    </div>
                </div>
                <div id="support-tickets" class="ps-block" style="height: 300px">
                    @foreach (var ticket in Model.RecentTickets)
                    {
                    <div class="widget-support-tickets-item">
                        @if (ticket.TicketStatus.Name.Contains("Assigned"))
                        {
                            <span class="label label-success pull-right">@ticket.TicketStatus.Name</span>
                        }
                        @if (ticket.TicketStatus.Name.Contains("Archived"))
                        {
                            <span class="label label-info pull-right">@ticket.TicketStatus.Name</span>
                        }
                        @if (ticket.TicketStatus.Name.Contains("Resolved"))
                        {
                            <span class="label label-warning pull-right">@ticket.TicketStatus.Name</span>
                        }
                        @if (ticket.TicketStatus.Name.Contains("Unassigned"))
                        {
                            <span class="label label-danger pull-right">@ticket.TicketStatus.Name</span>
                        }

                        <a href="@Url.Action("Details", "Tickets", new { id = ticket.Id })" class="widget-support-tickets-title">
                            @ticket.Title
                            <span class="widget-support-tickets-id">[@ticket.TicketType.Name]</span>
                        </a>
                        <span class="widget-support-tickets-info">Opened by <a>@ticket.OwnerUser.FirstName</a> @ticket.Created.ToString("MM/dd/yy")</span>
                    </div>
                    }
                </div>
            </div>
            <!-- / Tickets -->
        </div>
        <div class="col-md-6">
            <!-- Recent projects -->
            <div class="panel panel-warning panel-dark">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-book"></i>Projects</span>
                    <div class="panel-heading-controls">
                        <div class="panel-heading-text">
                            <a href="@Url.Action("MyIndex", "Tickets")"># of Tickets</a>
                        </div>
                    </div>
                </div>
                <div id="recent-projects" class="ps-block" style="height: 300px">
                    @foreach (var project in Model.RecentProjects)
                    {
                        <div class="widget-support-tickets-item">
                            <span class="label label-success pull-right">@project.Tickets.Count</span>
                            <a href="@Url.Action("Details", "Projects", new { id = project.Id })" class="widget-support-tickets-title">
                                @project.Name
                            </a>
                            <span class="widget-support-tickets-info">@project.Description</span>
                        </div>
                    }
                </div>
            </div>
            <!-- / Recent projects -->
        </div>
    </div>

    <hr class="page-block m-t-0">

    <div class="row">
        <div class="col-md-12">
            <!-- Users -->
            <div class="panel panel-danger panel-dark">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-smile-o"></i>Users</span>
                </div>
                <div class="panel-body">
                    <div class="panel-default">
                        <table class="table" id="userTable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Display Name</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody class="valign-middle">
                                @foreach (var user in Model.AllUsers)
                    {
                        <tr>
                            <td>
                                <img src="~/MyImages/user_default.png" style="width:26px;height:26px;" class="border-round">
                            </td>
                            <td>@user.DisplayName</td>
                            <td>@user.FirstName @user.LastName</td>
                            <td>@user.Email</td>
                        </tr>
        }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- / Users -->
        </div>
    </div>

    <hr class="page-block m-t-0">

    <div class="row">
        <div class="col-md-6">
            <!-- Recent comments -->
            <div class="panel panel-primary panel-dark">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-comment-o"></i>Comments</span>
                </div>
                <div class="tab-content p-a-0">
                    <div id="index-comments" class="ps-block" style="height: 300px">

                        @foreach (var comment in Model.RecentComments)
                        {
                            <div class="widget-comments-item">
                                <img src="~/MyImages/user_default.png" class="widget-comments-avatar">
                                <div class="widget-comments-header">
                                    <a>@comment.User.FirstName</a> commented on <a href="@Url.Action("Details", "Tickets", new { id = comment.Ticket.Id })" title="">@comment.Ticket.Title</a>
                                </div>
                                <div class="widget-comments-text">
                                    @comment.Comment
                                </div>
                                <div class="widget-comments-footer">
                                    @comment.Created.ToString("MMM dd, yyyy")
                                    <div class="pull-right">
                                        <a href="@Url.Action("Edit", "TicketComments", new { id = comment.Id })"><i class="fa fa-pencil"></i>Edit</a>
                                        <a href="@Url.Action("Delete", "TicketComments", new { id = comment.Id })"><i class="fa fa-times"></i>Remove</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- / Recent comments -->
        </div>
        <div class="col-md-6">
            <!-- Recent histories -->
            <div class="panel panel-info panel-dark">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-history"></i>Ticket Histories</span>
                    <div class="panel-heading-controls">
                        <div class="panel-heading-text">
                            <a>Changes</a>
                        </div>
                    </div>
                </div>
                <div id="threads" class="ps-block" style="height: 300px">
                    @foreach (var history in Model.RecentHistories)
                    {
                        <div class="widget-support-tickets-item">
                            <span class="label label-success pull-right">@history.NewValue</span>
                            <a href="@Url.Action("Details", "Tickets", new { id = history.Ticket.Id })" class="widget-support-tickets-title">
                                @history.Ticket.Title
                            </a>
                            <span class="widget-support-tickets-info">Changed by <a>@history.User.FirstName</a> on @history.ChangedDate.ToString("MM/dd/yy")</span>
                        </div>
                    }
                </div>
            </div>
            <!-- / Recent histories -->
        </div>
    </div>
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="page-header">
        <div class="row">
            <div class="col-md-4 text-xs-center text-md-left text-nowrap">
                <h1><i class="page-header-icon ion-ios-pulse-strong"></i>Example Dashboard</h1>
            </div>
            <hr class="page-wide-block visible-xs visible-sm">
            <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right">
                <a href="#" class="btn btn-primary btn-block"><span class="btn-label-icon left ion-plus-round"></span>Create project</a>
            </div>
            <!-- Spacer -->
            <div class="m-b-2 visible-xs visible-sm clearfix"></div>
            @*<form action="" class="page-header-form col-xs-12 col-md-4 pull-md-right">
                <div class="input-group">
                    <span class="input-group-addon b-a-0 font-size-16"><i class="ion-search"></i></span>
                    <input type="text" placeholder="Search..." class="form-control p-l-0 b-a-0">
                </div>
            </form>*@
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- DEMO Tickets -->
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-bullhorn"></i>Tickets</span>
                    <div class="panel-heading-controls">
                        <div class="panel-heading-text">
                            <a href="#">New tickets</a>
                        </div>
                    </div>
                </div>
                <div id="support-tickets" class="ps-block" style="height: 300px">
                    <div class="widget-support-tickets-item">
                        <span class="label label-success pull-right">Unassigned</span>
                        <a href="#" title="" class="widget-support-tickets-title">
                            Server Unavailable
                            <span class="widget-support-tickets-id">[Task]</span>
                        </a>
                        <span class="widget-support-tickets-info">Opened by <a href="#" title="">Submitter 1</a> 12/09/17</span>
                    </div>
                    <div class="widget-support-tickets-item">
                        <span class="label label-warning pull-right">Assigned/In Progress</span>
                        <a href="#" title="" class="widget-support-tickets-title">
                            Bug Tracker Update
                            <span class="widget-support-tickets-id">[Update]</span>
                        </a>
                        <span class="widget-support-tickets-info">Opened by <a href="#">Submitter 2</a> 11/29/17</span>
                    </div>
                    <div class="widget-support-tickets-item">
                        <span class="label label-info pull-right">Resolved</span>
                        <a href="#" title="" class="widget-support-tickets-title">
                            Blog Outdated
                            <span class="widget-support-tickets-id">[Update]</span>
                        </a>
                        <span class="widget-support-tickets-info">Opened by <a href="#">Submitter 1</a> 11/13/17</span>
                    </div>
                    <div class="widget-support-tickets-item">
                        <span class="label label-danger pull-right">Archived</span>
                        <a href="#" title="" class="widget-support-tickets-title">
                            IE8 Problem
                            <span class="widget-support-tickets-id">[Bug]</span>
                        </a>
                        <span class="widget-support-tickets-info">Opened by <a href="#">Submitter 3</a> 10/20/17</span>
                    </div>
                </div>
            </div>
            <!-- / Support tickets -->
        </div>

        <div class="col-md-6">
            <!-- Recent projects -->
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-book"></i>Projects</span>
                    <div class="panel-heading-controls">
                        <div class="panel-heading-text">
                            <a href="#"># of Tickets</a>
                        </div>
                    </div>
                </div>
                <div id="support-tickets" class="ps-block" style="height: 300px">
                    <div class="widget-support-tickets-item">
                        <span class="label label-success pull-right">3</span>
                        <a href="#" class="widget-support-tickets-title">
                            Project One
                        </a>
                        <span class="widget-support-tickets-info">Bug Tracker</span>
                    </div>
                    <div class="widget-support-tickets-item">
                        <span class="label label-success pull-right">2</span>
                        <a href="#" class="widget-support-tickets-title">
                            Project Two
                        </a>
                        <span class="widget-support-tickets-info">Blog Page</span>
                    </div>
                    <div class="widget-support-tickets-item">
                        <span class="label label-success pull-right">5</span>
                        <a href="#" class="widget-support-tickets-title">
                            Project Three
                        </a>
                        <span class="widget-support-tickets-info">Shopping Cart</span>
                    </div>
                    <div class="widget-support-tickets-item">
                        <span class="label label-success pull-right">7</span>
                        <a href="#" class="widget-support-tickets-title">
                            Project Four
                        </a>
                        <span class="widget-support-tickets-info">Portfolio Website</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Recent projects -->
    </div>

    <hr class="page-block m-t-0">

    <div class="row">
        <div class="col-md-7">
            <!-- New users -->
            <div class="panel panel-danger panel-dark">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-smile-o"></i>Users</span>
                    <div class="panel-heading-controls">
                        <ul class="pagination pagination-xs">
                            <li><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Display Name</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="valign-middle">
                            <tr>
                                <td>1</td>
                                <td>
                                    <img src="~/MyImages/user_default.png" alt="" style="width:26px;height:26px;" class="border-round">&nbsp;&nbsp;<a href="#" title="">Admin</a>
                                </td>
                                <td>Meghan (Admin) Combs</td>
                                <td>meghankcombs@gmail.com</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <img src="~/MyImages/user_default.png" alt="" style="width:26px;height:26px;" class="border-round">&nbsp;&nbsp;<a href="#" title="">PM1</a>
                                </td>
                                <td>Project Manager 1</td>
                                <td>ProjectManager1@mailinator.com</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <img src="~/MyImages/user_default.png" alt="" style="width:26px;height:26px;" class="border-round">&nbsp;&nbsp;<a href="#" title="">PM2</a>
                                </td>
                                <td>Project Manager 2</td>
                                <td>ProjectManager2@mailinator.com</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    <img src="~/MyImages/user_default.png" alt="" style="width:26px;height:26px;" class="border-round">&nbsp;&nbsp;<a href="#" title="">Dev1</a>
                                </td>
                                <td>Developer 1</td>
                                <td>Developer1@mailinator.com</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>
                                    <img src="~/MyImages/user_default.png" alt="" style="width:26px;height:26px;" class="border-round">&nbsp;&nbsp;<a href="#" title="">Dev2</a>
                                </td>
                                <td>Developer 2</td>
                                <td>Developer2@mailinator.com</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>
                                    <img src="~/MyImages/user_default.png" alt="" style="width:26px;height:26px;" class="border-round">&nbsp;&nbsp;<a href="#" title="">Sub1</a>
                                </td>
                                <td>Submitter 1</td>
                                <td>Submitter1@mailinator.com</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>
                                    <img src="~/MyImages/user_default.png" alt="" style="width:26px;height:26px;" class="border-round">&nbsp;&nbsp;<a href="#" title="">Sub2</a>
                                </td>
                                <td>Submitter 1</td>
                                <td>Submitter2@mailinator.com</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- / New users -->
        </div>
        <div class="col-md-5">
            <!-- Recent tasks -->
            <div class="panel panel-primary panel-dark">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-tasks"></i>Tickets By Priority</span>
                </div>
                <div class="widget-tasks-item">
                    <span class="label label-danger pull-right">High</span>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="widget-tasks-title">Work on Bug Tracker</span>
                    </label>
                </div>
                <div class="widget-tasks-item">
                    <span class="label label-danger pull-right">High</span>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="widget-tasks-title">Update Bug Tracker</span>
                    </label>
                </div>
                <div class="widget-tasks-item">
                    <span class="label label-warning pull-right">Medium</span>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="widget-tasks-title">Fix bug in Shopping Cart</span>
                    </label>
                </div>
                <div class="widget-tasks-item">
                    <span class="label label-info pull-right">Low</span>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="widget-tasks-title">New Blog post</span>
                    </label>
                </div>
                <div class="widget-tasks-item">
                    <span class="label label-info pull-right">Low</span>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="widget-tasks-title">New Blog Post</span>
                    </label>
                </div>
                <div class="widget-tasks-item">
                    <span class="label label-info pull-right">Low</span>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="widget-tasks-title">Update Portfolio</span>
                    </label>
                </div>
            </div>
            <!-- /Recent tasks -->
        </div>
    </div>
}


@section scripts {
    @if (TempData.ContainsKey("Message"))
    {
        <script>
            $(function () {
                swal('Thank you!', '@TempData["Message"]', 'success');
            });
        </script>
    }

    @if (TempData.ContainsKey("MessageForgot"))
    {
        <script>
                $(function () {
                    swal('Password Reset Confirmed!', '@TempData["MessageForgot"]', 'success');
                });
        </script>
    }

    @if (TempData.ContainsKey("NoProjectMessage"))
    {
        <script>
                    $(function () {
                        swal('Oops!', '@TempData["NoProjectMessage"]', 'warning');
                    });
        </script>
    }
    <script>
        $('#userTable').DataTable();
    </script>
}